/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
	font-family: 'Raleway', sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 1000px;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}

h1 {
	font-weight: bolder;
}

a {
	color: rgb(35, 175, 126);
	text-decoration: none !important;
}

nav {
	margin: 0em 0 2em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	width: 180px;
}

nav a {
	font-weight: lighter;
}

nav a:checked {
	font-weight: bolder;
}


textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

.blog-list li {
	list-style: none;
	padding: 10px 10px;
	margin: 1rem 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 2px solid rgb(35, 175, 126);
	color: #222;
	padding: 2px 0px 2px 20px;
	font-style: italic;
	background-color: #eeeeee4c;
	border-radius: 5px;
	margin: 1rem 0;
}

@media (max-width: 767px) {
	body {
		padding: 10px;
		max-width: 85%;
	}

	nav {
		margin-top: 1rem;
	}
}