---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello and welcome to my blog!</h1>
      <p>
        I write about web development, software engineering, big data, and more.
      </p>
      <p>
        To learn more about me, head to the <a href='/about/'>About Me page</a> or
        head to my <a href='https://tannerbarcelos.com' target='_blank'
          >portfolio</a
        >
      </p>
      <h5>Site under construction</h5>
    </main>
  </body>
</html>
