---
import HeaderLink from './HeaderLink.astro'
---

<header>
  <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/blog'>Blog Posts</HeaderLink>
  </nav>
</header>
<style></style>
